<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<add
		name="db_holding"
		connectionString="Data Source=KYWEEX\SQLEXPRESS;Initial Catalog=db_holding;Integrated Security=True"
		providerName="System.Data.SqlClient"
	/>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="TraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TraceLog.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>